.custom-cluster-marker {
  background-color: transparent;
}

.cluster-marker {
  background-color: #5E1969;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.leaflet-marker-icon.leaflet-marker-icon-cluster {
  transition: transform 0.3s ease;
}

.leaflet-marker-icon.leaflet-marker-icon-cluster:hover {
  transform: scale(1.1);
}

.MuiBadge-badge {
  background-color: #5E1969 !important;
  color: white !important;
  font-weight: bold !important;
}